.modal-container {
    border: 0;
    border-radius: 15px;
    background-color: var(--tertiary);
    height: 600px;
}

.modal-header {
    display: flex;
    justify-content: center;
    border: 0;
}

.modal-title {
    margin-top: 20px;
    font-size: 29px;
    color: #FFF;
}

.modal-footer {
    display: flex;
    justify-content: center;
    border: 0;
}

.modal-footer button {
    color: #fff;
    border: 0;
    border-radius: 50px;
    background-color: var(--secondary);
    padding: 15px 60px;
}

.modal-footer button:hover {
    background-color: var(--secondary);
}
